body {
	background-color:#e1e2d5;
}
#runner{
	background:url(dancing.png);
	/*background:url(character.png);*/
	width:128px;
	height:128px;
	display: block;
  	margin: auto;
	animation:walk 1s steps(6) infinite;
	
}

@keyframes walk{
	0% {
		background-position:0px;
	}
	100% {
		background-position:1536px;
	}
}
@keyframes forward{
	0% {
		transform:translateX(-50px);
	}
	100% {
		transform:translateX(1250px);
	}
}


